body {
    background: lightcyan;
}

.subheader{
    color: lightcyan;
}

.block {
    height: auto;
    width: 90%;
    padding: 10px;
    border: 10px solid black;
    background-color: lightslategray;
}